# Compiled object files
*.o
*.obj
*.mod
*.smod

# Executables
fortran_calls_python
fortran_calls_numpy_python

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# macOS
.DS_Store

# Editor
*workspace
*.swp
*.swo
*~
